In [1]:
import datetime

In [4]:
t = datetime.time(5, 25, 1) #hour - min - sec

In [5]:
print t

05:25:01

In [6]:
t.hour

5

In [7]:
t.min

datetime.time(0, 0)

In [8]:
t.minute

25

In [9]:
t.microsecond

0

In [10]:
t.second

1

In [12]:
print datetime.time.min

00:00:00

In [13]:
print datetime.time.max

23:59:59.999999

In [14]:
print datetime.time.resolution

0:00:00.000001

In [15]:
today = datetime.date.today()

In [16]:
today

datetime.date(2016, 8, 2)

In [17]:
today.timetuple()

time.struct_time(tm_year=2016, tm_mon=8, tm_mday=2, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=215, tm_isdst=-1)

In [18]:
today.month

8

In [19]:
today.day

2

In [21]:
print datetime.date.min

0001-01-01

In [22]:
print datetime.date.max

9999-12-31

In [23]:
print datetime.date.resolution

1 day, 0:00:00

In [25]:
d1 = datetime.date(2015,3,11)

In [26]:
print d1

2015-03-11

In [27]:
d2 = d1.replace(year=1990)

In [28]:
d2

datetime.date(1990, 3, 11)