In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [2]:
ser1 = Series(np.arange(3), index = ['A', 'B', 'C'])

In [3]:
ser1

A    0
B    1
C    2
dtype: int64

In [5]:
ser1.drop('B')

A    0
C    2
dtype: int64

In [6]:
dframe1 = DataFrame(np.arange(9).reshape((3,3)), index = ['SF', 'LA', 'NY'], 
                    columns = ['pop', 'size', 'year'])
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [12]:
dframe1.drop('LA') #temporary drop

    pop  size  year
SF    0     1     2
NY    6     7     8

In [13]:
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [14]:
dframe2 = dframe1.drop('LA') #permanent drop

In [15]:
dframe2

    pop  size  year
SF    0     1     2
NY    6     7     8

In [18]:
dframe1.drop('SF', axis=0)

    pop  size  year
LA    3     4     5
NY    6     7     8

In [19]:
dframe1.drop('year', axis=1)

    pop  size
SF    0     1
LA    3     4
NY    6     7