In [1]:
import pandas as pd

In [2]:
xlsfile = pd.ExcelFile('Lec_28_test.xlsx')

In [8]:
dframe = xlsfile.parse('Sheet 1')
dframe

,Table 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,This is a text,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,23.0,6678.0,456.0,NaN,NaN,NaN
2,NaN,234.0,678.0,456.0,NaN,NaN,NaN
3,NaN,234.0,7.0,345.0,NaN,NaN,NaN
4,NaN,34.0,56.0,234.0,NaN,NaN,NaN
5,NaN,5.0,456.0,4365.0,NaN,NaN,NaN