In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [2]:
dframe = DataFrame({'k1': ['X', 'X', 'Y', 'Y', 'Z'],
                    'k2': ['alpha', 'beta', 'alpha', 'beta', 'alpha'],
                    'dataset1': np.random.randn(5),
                    'dataset2': np.random.randn(5)})
dframe

   dataset1  dataset2 k1     k2
0  1.699538  0.330932  X  alpha
1  0.359266  1.012145  X   beta
2 -1.563246 -0.008234  Y  alpha
3 -0.277071 -1.084381  Y   beta
4 -2.042182  0.447812  Z  alpha

In [3]:
group1 = dframe['dataset1'].groupby(dframe['k1'])
group1

In [4]:
group1.mean()

k1
X    1.029402
Y   -0.920159
Z   -2.042182
Name: dataset1, dtype: float64

In [9]:
cities = np.array(['NY', 'LA', 'LA', 'NY', 'NY'])
month = np.array(['JAN', 'FEB', 'JAN', 'FEB', 'JAN'])

In [19]:
dframe['dataset1'].groupby([cities, month]).mean() #month ile cities yer değişikliği etkiliyor.

LA  FEB    0.359266
    JAN   -1.563246
NY  FEB   -0.277071
    JAN   -0.171322
Name: dataset1, dtype: float64

In [14]:
dframe

   dataset1  dataset2 k1     k2
0  1.699538  0.330932  X  alpha
1  0.359266  1.012145  X   beta
2 -1.563246 -0.008234  Y  alpha
3 -0.277071 -1.084381  Y   beta
4 -2.042182  0.447812  Z  alpha

In [15]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X   1.029402  0.671539
Y  -0.920159 -0.546307
Z  -2.042182  0.447812

In [17]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha  1.699538  0.330932
   beta   0.359266  1.012145
Y  alpha -1.563246 -0.008234
   beta  -0.277071 -1.084381
Z  alpha -2.042182  0.447812

In [20]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [21]:
for name,group in dframe.groupby('k1'):
    print "This is the %s group" %name
    print group
    print '\n'

This is the X group
   dataset1  dataset2 k1     k2
0  1.699538  0.330932  X  alpha
1  0.359266  1.012145  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2 -1.563246 -0.008234  Y  alpha
3 -0.277071 -1.084381  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4 -2.042182  0.447812  Z  alpha

In [22]:
for (k1,k2), group in dframe.groupby(['k1', 'k2']):
    print "Key1 = %s, Key2 = %s" %(k1,k2)
    print group
    print '\n'

Key1 = X, Key2 = alpha
   dataset1  dataset2 k1     k2
0  1.699538  0.330932  X  alpha


Key1 = X, Key2 = beta
   dataset1  dataset2 k1    k2
1  0.359266  1.012145  X  beta


Key1 = Y, Key2 = alpha
   dataset1  dataset2 k1     k2
2 -1.563246 -0.008234  Y  alpha


Key1 = Y, Key2 = beta
   dataset1  dataset2 k1    k2
3 -0.277071 -1.084381  Y  beta


Key1 = Z, Key2 = alpha
   dataset1  dataset2 k1     k2
4 -2.042182  0.447812  Z  alpha

In [23]:
group_dict = dict(list(dframe.groupby('k1')))

In [24]:
group_dict['X']

   dataset1  dataset2 k1     k2
0  1.699538  0.330932  X  alpha
1  0.359266  1.012145  X   beta

In [27]:
group_dict['Y']

   dataset1  dataset2 k1     k2
2 -1.563246 -0.008234  Y  alpha
3 -0.277071 -1.084381  Y   beta

In [32]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))

In [33]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0  1.699538  0.330932
 1  0.359266  1.012145
 2 -1.563246 -0.008234
 3 -0.277071 -1.084381
 4 -2.042182  0.447812, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [36]:
dataset2_group = dframe.groupby(['k1', 'k2'])[['dataset2']]
dataset2_group.mean()

          dataset2
k1 k2
X  alpha  0.330932
   beta   1.012145
Y  alpha -0.008234
   beta  -1.084381
Z  alpha  0.447812