In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser = Series(randn(6), index = [[1,1,1,2,2,2], ['a','b','c','a','b','c']])

In [3]:
ser

1  a    0.461271
   b   -0.724338
   c    1.045246
2  a    0.058110
   b    0.547979
   c   -0.182619
dtype: float64

In [4]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
ser[1]

a    0.461271
b   -0.724338
c    1.045246
dtype: float64

In [6]:
ser[2]

a    0.058110
b    0.547979
c   -0.182619
dtype: float64

In [8]:
ser

1  a    0.461271
   b   -0.724338
   c    1.045246
2  a    0.058110
   b    0.547979
   c   -0.182619
dtype: float64

In [9]:
ser[1]['a']

0.46127081832603856

In [10]:
ser[:,'a']

1    0.461271
2    0.058110
dtype: float64

In [12]:
dframe = ser.unstack()

In [13]:
dframe

          a         b         c
1  0.461271 -0.724338  1.045246
2  0.058110  0.547979 -0.182619

In [14]:
dframe2 = DataFrame(np.arange(16).reshape(4,4), index=[['a','a','b','b'], [1,2,1,2]],
                   columns = [['NY', 'NY', 'LA', 'SF'], ['cold', 'hot', 'hot', 'cold']])

dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [16]:
dframe2.index.names = ['INDEX_1', 'INDEX_2']

dframe2.columns.names = ['Cities', 'Temp']

dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [17]:
dframe2.swaplevel('Cities', 'Temp', axis = 1) #axis = 1 because we want to swap cols (x-axis)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [18]:
dframe2.swaplevel('INDEX_1', 'INDEX_2', axis = 0)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_2 INDEX_1
1       a          0   1   2    3
2       a          4   5   6    7
1       b          8   9  10   11
2       b         12  13  14   15

In [19]:
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [20]:
dframe2.sortlevel(1) #which sub-level

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [21]:
dframe2.sortlevel(0)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [26]:
dframe2.sum(level='Temp', axis = 1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27

In [25]:
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [27]:
dframe2.sum(level='INDEX_2', axis = 0)

Cities    NY      LA   SF
Temp    cold hot hot cold
INDEX_2
1          8  10  12   14
2         16  18  20   22