In [6]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [7]:
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [8]:
dframe

         date variable     value
0  2000-01-03        A  0.174748
1  2000-01-04        A -1.858736
2  2000-01-05        A -0.090780
3  2000-01-03        B  1.387839
4  2000-01-04        B  1.180975
5  2000-01-05        B -0.610359
6  2000-01-03        C  0.679951
7  2000-01-04        C -1.209435
8  2000-01-05        C -1.193029
9  2000-01-03        D -1.482668
10 2000-01-04        D -0.919269
11 2000-01-05        D  2.437969

In [11]:
dframe_piv = dframe.pivot('date', 'variable', 'value') #row, #col, #fill_values

In [12]:
dframe_piv

variable           A         B         C         D
date
2000-01-03  0.174748  1.387839  0.679951 -1.482668
2000-01-04 -1.858736  1.180975 -1.209435 -0.919269
2000-01-05 -0.090780 -0.610359 -1.193029  2.437969