In [1]:
import numpy as np
from pandas import DataFrame, Series

import pandas as pd
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0) # E & F comes from before.

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [7]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [8]:
ranger = range(15)

In [9]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [11]:
ser3.reindex(ranger, method='ffill') #ffill = forward fill

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [16]:
dframe = DataFrame(randn(25).reshape((5,5)), index = ['A', 'B', 'D', 'E', 'F'], 
                   columns = ['col1', 'col2', 'col3', 'col4', 'col5'])

In [17]:
dframe

       col1      col2      col3      col4      col5
A  1.501303 -0.050246  0.141816  0.088404  1.023835
B -1.720978  0.718739 -1.878298  1.265705  0.864292
D -0.642944 -1.704047  0.585396 -1.914179  0.086768
E -0.333512 -0.186656  0.518704  2.942228  0.292498
F  1.302895  0.451298 -0.638754  1.170923  0.388593

In [18]:
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [19]:
dframe2

       col1      col2      col3      col4      col5
A  1.501303 -0.050246  0.141816  0.088404  1.023835
B -1.720978  0.718739 -1.878298  1.265705  0.864292
C       NaN       NaN       NaN       NaN       NaN
D -0.642944 -1.704047  0.585396 -1.914179  0.086768
E -0.333512 -0.186656  0.518704  2.942228  0.292498
F  1.302895  0.451298 -0.638754  1.170923  0.388593

In [20]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A  1.501303 -0.050246  0.141816  0.088404  1.023835   NaN
B -1.720978  0.718739 -1.878298  1.265705  0.864292   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.642944 -1.704047  0.585396 -1.914179  0.086768   NaN
E -0.333512 -0.186656  0.518704  2.942228  0.292498   NaN
F  1.302895  0.451298 -0.638754  1.170923  0.388593   NaN

In [21]:
dframe

       col1      col2      col3      col4      col5
A  1.501303 -0.050246  0.141816  0.088404  1.023835
B -1.720978  0.718739 -1.878298  1.265705  0.864292
D -0.642944 -1.704047  0.585396 -1.914179  0.086768
E -0.333512 -0.186656  0.518704  2.942228  0.292498
F  1.302895  0.451298 -0.638754  1.170923  0.388593

In [22]:
dframe.ix[['A', 'B', 'C', 'D', 'E', 'F'], new_columns]

       col1      col2      col3      col4      col5  col6
A  1.501303 -0.050246  0.141816  0.088404  1.023835   NaN
B -1.720978  0.718739 -1.878298  1.265705  0.864292   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.642944 -1.704047  0.585396 -1.914179  0.086768   NaN
E -0.333512 -0.186656  0.518704  2.942228  0.292498   NaN
F  1.302895  0.451298 -0.638754  1.170923  0.388593   NaN