In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
dframe1 = DataFrame(np.arange(8).reshape(2,4),
                    index = pd.Index(['LA', 'SF'], name='city'),
                    columns = pd.Index(['A', 'B', 'C', 'D'], name = 'letter'))

dframe1

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [19]:
print type(dframe1)
dframe_st = dframe1.stack()
print type(dframe_st)
dframe_st

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int64

In [4]:
dframe_st.unstack()

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [5]:
dframe_st.unstack('letter')

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [6]:
dframe_st

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int64

In [7]:
dframe_st.unstack('city')

city    LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [52]:
ser1 = Series([0,1,2], index = ['Q', 'X', 'Y'])
ser2 = Series([4,5,6], index = ['X', 'Y', 'Z'])

In [53]:
dframe = pd.concat([ser1,ser2], keys=['Alpha', 'Beta'])
dframe

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: int64

In [54]:
dframe['Alpha']['Q']

0

In [55]:
dframe.unstack()

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [56]:
dframe.unstack().stack()

Alpha  Q    0.0
       X    1.0
       Y    2.0
Beta   X    4.0
       Y    5.0
       Z    6.0
dtype: float64

In [58]:
print type(dframe)

<class 'pandas.core.series.Series'>

In [46]:
dframe.unstack()

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [60]:
dframe = dframe.unstack()
print type(dframe)

<class 'pandas.core.series.Series'>

In [48]:
dframe

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [49]:
dframe.stack()

Alpha  Q    0.0
       X    1.0
       Y    2.0
Beta   X    4.0
       Y    5.0
       Z    6.0
dtype: float64

In [50]:
dframe.stack(dropna=False)

Alpha  Q    0.0
       X    1.0
       Y    2.0
       Z    NaN
Beta   Q    NaN
       X    4.0
       Y    5.0
       Z    6.0
dtype: float64